In [49]:
!ls data

items_carsales_13.csv	items_carsales_4.csv
items_carsales_16.json	items_carsales_9.csv

In [2]:
import pandas as pd

In [51]:
data = pd.read_csv('data/items_carsales_16.csv')

In [4]:
data.head()

,_type,drive_type,engine_capacity,fuel_type,id,make,manufacturer_marketing_year,model,n_cylinders,odometer,price,title,transmission,url,year
0,DealFinderItem,NaN,1.8,Petrol,NaN,Holden,NaN,Trax LS TJ,4,80,18990,2017 Holden Trax LS TJ Manual,Manual,carsales.com.au/demo/details/Holden-Trax-2017/...,2017
1,DealFinderItem,NaN,2.0,Petrol,Jeep-Patriot-2016/OAG-AD-16099954,Jeep,NaN,Patriot Sport,4,3041,19990,2016 Jeep Patriot Sport Auto 4x2,Auto,carsales.com.au/dealer/details/Jeep-Patriot-20...,2016
2,DealFinderItem,NaN,1.8,Petrol,NaN,Holden,NaN,Trax LS TJ,4,5000,16000,2016 Holden Trax LS TJ Auto,Auto,carsales.com.au/private/details/Holden-Trax-20...,2016
3,DealFinderItem,2WD,2.0,Petrol,NaN,Peugeot,NaN,4008 Active,4,7600,19990,2016 Peugeot 4008 Active Auto 2WD,Auto,carsales.com.au/private/details/Peugeot-4008-2...,2016
4,DealFinderItem,2WD,2.0,Petrol,SsangYong-Korando-2015/OAG-AD-15997595,SsangYong,NaN,Korando S,4,9408,17990,2015 SsangYong Korando S Manual 2WD,Manual,carsales.com.au/dealer/details/SsangYong-Koran...,2015

In [7]:
data.iloc[3].url

'carsales.com.au/private/details/Peugeot-4008-2016/SSE-AD-5441471/?Cr=3'

In [10]:
# add field for price per kilometer on odometer
data['price_p_km'] = data['price']/data['odometer']
data.head()

,_type,drive_type,engine_capacity,fuel_type,id,make,manufacturer_marketing_year,model,n_cylinders,odometer,price,title,transmission,url,year,price_p_km
0,DealFinderItem,NaN,1.8,Petrol,NaN,Holden,NaN,Trax LS TJ,4,80,18990,2017 Holden Trax LS TJ Manual,Manual,carsales.com.au/demo/details/Holden-Trax-2017/...,2017,237.375000
1,DealFinderItem,NaN,2.0,Petrol,Jeep-Patriot-2016/OAG-AD-16099954,Jeep,NaN,Patriot Sport,4,3041,19990,2016 Jeep Patriot Sport Auto 4x2,Auto,carsales.com.au/dealer/details/Jeep-Patriot-20...,2016,6.573496
2,DealFinderItem,NaN,1.8,Petrol,NaN,Holden,NaN,Trax LS TJ,4,5000,16000,2016 Holden Trax LS TJ Auto,Auto,carsales.com.au/private/details/Holden-Trax-20...,2016,3.200000
3,DealFinderItem,2WD,2.0,Petrol,NaN,Peugeot,NaN,4008 Active,4,7600,19990,2016 Peugeot 4008 Active Auto 2WD,Auto,carsales.com.au/private/details/Peugeot-4008-2...,2016,2.630263
4,DealFinderItem,2WD,2.0,Petrol,SsangYong-Korando-2015/OAG-AD-15997595,SsangYong,NaN,Korando S,4,9408,17990,2015 SsangYong Korando S Manual 2WD,Manual,carsales.com.au/dealer/details/SsangYong-Koran...,2015,1.912202

# Data cleaning
Apply some fine-grained filtering

In [44]:
odo_max = 60000
age_max = 5
price_max = 16000
exclude_brands = ['Peugeot', 'Holden', 'SKODA', 'Ford', 'Great', 'Jeep']
drop_cols = ['manufacturer_marketing_year', 'title', '_type', 'id']

initial_len = data.shape[0]
print("Initial num of records: ", initial_len)

data = pd.read_csv('data/items_carsales_13.csv')
df = data
df = data[data['odometer'] <= odo_max]
df = df[df['price'] <= price_max]
df = df[df['year'] >= 2018-age_max]
brand_mask = df['make'].isin(exclude_brands)
df = df[~brand_mask]
df = df.drop(drop_cols, axis=1)

final_len = df.shape[0]
print("Final num of records: ", final_len)

Initial num of records:  288
Final num of records:  20

In [36]:
# find average price per make/model
df.groupby(['make', 'model']).agg(['mean', 'count']).sort_values(by=('price', 'mean'), ascending=True)

                                  engine_capacity       n_cylinders        \
                                             mean count        mean count
make       model
Chery      J11                                1.6     1           4     1
Nissan     X-Trail ST T31                     2.0     1           4     1
Suzuki     S-Cross GL                         1.6     3           4     3
SsangYong  Korando SX                         2.0     2           4     2
Mitsubishi ASX LS XB                          2.0     1           4     1
Nissan     JUKE ST F15                        1.6     2           4     2
           JUKE ST-S F15                      1.6     1           4     1
Kia        Sportage Si                        2.0     3           4     3
Nissan     Dualis ST J10 Series 4             2.0     3           4     3
           Dualis TS J10 Series 4             1.6     1           4     1
Suzuki     S-Cross GLX                        1.6     1           4     1
Mitsubishi ASX XB                             2.0     1           4     1

                                       odometer               price        \
                                           mean count          mean count
make       model
Chery      J11                     43459.000000     1   9990.000000     1
Nissan     X-Trail ST T31          45115.000000     1  13990.000000     1
Suzuki     S-Cross GL              50244.666667     3  14316.333333     3
SsangYong  Korando SX              19300.000000     2  14490.000000     2
Mitsubishi ASX LS XB               50000.000000     1  14890.000000     1
Nissan     JUKE ST F15             32009.000000     2  14900.000000     2
           JUKE ST-S F15           44497.000000     1  15213.000000     1
Kia        Sportage Si             49878.333333     3  15288.000000     3
Nissan     Dualis ST J10 Series 4  43339.333333     3  15496.000000     3
           Dualis TS J10 Series 4  35900.000000     1  15900.000000     1
Suzuki     S-Cross GLX             51822.000000     1  15990.000000     1
Mitsubishi ASX XB                  34027.000000     1  15997.000000     1

                                          year
                                          mean count
make       model
Chery      J11                     2014.000000     1
Nissan     X-Trail ST T31          2013.000000     1
Suzuki     S-Cross GL              2014.000000     3
SsangYong  Korando SX              2015.000000     2
Mitsubishi ASX LS XB               2014.000000     1
Nissan     JUKE ST F15             2014.000000     2
           JUKE ST-S F15           2013.000000     1
Kia        Sportage Si             2013.333333     3
Nissan     Dualis ST J10 Series 4  2013.000000     3
           Dualis TS J10 Series 4  2013.000000     1
Suzuki     S-Cross GLX             2014.000000     1
Mitsubishi ASX XB                  2013.000000     1

In [46]:
# add field for price per kilometer on odometer (non-agg)
df['pricepkm'] = df['price'] / df['odometer']
df.sort_values(['pricepkm'])

,drive_type,engine_capacity,fuel_type,make,model,n_cylinders,odometer,price,transmission,url,year,pricepkm
169,2WD,1.6,Petrol,Chery,J11,4,43459,9990,Auto,carsales.com.au/dealer/details/Chery-J11-2014/...,2014,0.229872
253,NaN,1.6,Petrol,Suzuki,S-Cross GL,4,49800,11990,Auto,carsales.com.au/private/details/Suzuki-S-Cross...,2014,0.240763
282,NaN,2.0,Petrol,Kia,Sportage Si,4,51850,14976,Manual,carsales.com.au/dealer/details/Kia-Sportage-20...,2013,0.288833
279,NaN,1.6,Petrol,Suzuki,S-Cross GL,4,51677,14960,Auto,carsales.com.au/dealer/details/Suzuki-S-Cross-...,2013,0.289490
256,2WD,2.0,Petrol,Mitsubishi,ASX LS XB,4,50000,14890,Manual,carsales.com.au/private/details/Mitsubishi-ASX...,2014,0.297800
247,NaN,2.0,Petrol,Kia,Sportage Si,4,49285,14888,Manual,carsales.com.au/dealer/details/Kia-Sportage-20...,2013,0.302080
281,NaN,1.6,Petrol,Suzuki,S-Cross GLX,4,51822,15990,Auto,carsales.com.au/dealer/details/Suzuki-S-Cross-...,2014,0.308556
193,2WD,2.0,Petrol,Nissan,X-Trail ST T31,4,45115,13990,Manual,carsales.com.au/dealer/details/Nissan-X-Trail-...,2013,0.310096
267,2WD,2.0,Petrol,Nissan,Dualis ST J10 Series 4,4,50725,15888,Auto,carsales.com.au/dealer/details/Nissan-Dualis-2...,2013,0.313218
246,NaN,1.6,Petrol,Suzuki,S-Cross GL,4,49257,15999,Auto,carsales.com.au/dealer/details/Suzuki-S-Cross-...,2015,0.324807
235,2WD,2.0,Petrol,Kia,Sportage Si,4,48500,16000,Manual,carsales.com.au/private/details/Kia-Sportage-2...,2014,0.329897
209,2WD,2.0,Petrol,Nissan,Dualis ST J10 Series 4,4,46293,15800,Auto,carsales.com.au/dealer/details/Nissan-Dualis-2...,2013,0.341304
181,2WD,1.6,Petrol,Nissan,JUKE ST-S F15,4,44497,15213,Manual,carsales.com.au/dealer/details/Nissan-JUKE-201...,2013,0.341888
148,2WD,1.6,Petrol,Nissan,JUKE ST F15,4,41918,15800,Auto,carsales.com.au/dealer/details/Nissan-JUKE-201...,2014,0.376926
93,2WD,1.6,Diesel,Nissan,Dualis TS J10 Series 4,4,35900,15900,Manual,carsales.com.au/private/details/Nissan-Dualis-...,2013,0.442897
61,2WD,2.0,Petrol,Nissan,Dualis ST J10 Series 4,4,33000,14800,Manual,carsales.com.au/private/details/Nissan-Dualis-...,2013,0.448485
73,2WD,2.0,Petrol,Mitsubishi,ASX XB,4,34027,15997,Auto,carsales.com.au/dealer/details/Mitsubishi-ASX-...,2013,0.470127
22,2WD,1.6,Petrol,Nissan,JUKE ST F15,4,22100,14000,Manual,carsales.com.au/private/details/Nissan-JUKE-20...,2014,0.633484
14,2WD,2.0,Petrol,SsangYong,Korando SX,4,20461,14490,Auto,carsales.com.au/dealer/details/SsangYong-Koran...,2015,0.708177
10,2WD,2.0,Petrol,SsangYong,Korando SX,4,18139,14490,Auto,carsales.com.au/dealer/details/SsangYong-Koran...,2015,0.798831

In [48]:
# work out value sum (non-agg)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(df) 
df.loc[:,:] = scaled_values

df['age'] = 2018 - df['year']
df['value'] = df['price'] + df['odometer']+ df['age'] + df['engine_capacity']
df

ModuleNotFoundError: No module named 'sklearn'