In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('items_carsales_4.csv')

In [4]:
data.head()

,_type,drive_type,engine_capacity,fuel_type,id,make,manufacturer_marketing_year,model,n_cylinders,odometer,price,title,transmission,url,year
0,DealFinderItem,2WD,1.6,Petrol,Chery-J11-2014/OAG-AD-15997339,Chery,NaN,J11,4,43459,9990,2014 Chery J11 Auto 2WD,Auto,carsales.com.au/dealer/details/Chery-J11-2014/...,2014
1,DealFinderItem,4WD,2.0,Diesel,Great-Wall-X200-2013/OAG-AD-16010569,Great,NaN,Wall X200,4,46651,10990,2013 Great Wall X200 Manual 4WD,Manual,carsales.com.au/dealer/details/Great-Wall-X200...,2013
2,DealFinderItem,NaN,2.0,Petrol,NaN,Jeep,NaN,Compass Sport,4,41971,12000,2013 Jeep Compass Sport Manual,Manual,carsales.com.au/private/details/Jeep-Compass-2...,2013
3,DealFinderItem,NaN,1.8,Petrol,NaN,Holden,NaN,Trax LS TJ,4,56000,12600,2014 Holden Trax LS TJ Manual,Manual,carsales.com.au/private/details/Holden-Trax-20...,2014
4,DealFinderItem,NaN,2.0,Petrol,NaN,Jeep,NaN,Compass Sport,4,48339,12690,2014 Jeep Compass Sport Manual,Manual,carsales.com.au/private/details/Jeep-Compass-2...,2014

In [5]:
data.iloc[3].url

'carsales.com.au/private/details/Holden-Trax-2014/SSE-AD-5530653/?Cr=3'

In [6]:
# find average price per make/model
# group by?
data.groupby(['make', 'model']).mean()

                                        engine_capacity  \
make       model
Chery      J11                                      1.6
Ford       Kuga Ambiente TF                         1.6
           Kuga Trend TF                            1.6
Great      Wall X200                                2.0
Holden     Trax Active TJ                           1.8
           Trax Black TJ                            1.8
           Trax LS TJ                               1.8
           Trax LTZ TJ                              1.8
Hyundai    ix35 SE                                  2.0
           ix35 Trophy                              2.0
Jeep       Compass Blackhawk                        2.0
           Compass North                            2.0
           Compass Sport                            2.0
           Patriot Sport                            2.0
           Renegade Sport                           1.6
Kia        Sportage Si                              2.0
Mazda      CX-5 Maxx Sport KE Series 2              2.0
Mitsubishi ASX LS XC                                2.0
           ASX XB                                   2.0
           Outlander ES ZJ                          2.0
           Outlander LS ZJ                          2.0
Nissan     Dualis ST J10 Series 3                   2.0
           Dualis ST J10 Series 4                   2.0
           JUKE ST F15                              1.6
           JUKE ST F15 Series 2                     1.6
           JUKE ST-S F15                            1.6
           JUKE Ti-S F15 Series 2                   1.6
           QASHQAI ST J11                           2.0
           X-Trail ST T31                           2.0
           X-Trail ST T32                           2.0
           X-Trail ST-L T31                         2.0
Peugeot    2008 Allure                              1.6
           2008 Outdoor                             1.6
           4008 Active                              2.0
SKODA      Yeti 112TSI                              1.8
Subaru     XV 2.0i G4X                              2.0
Suzuki     S-Cross GL                               1.6
           S-Cross GLX                              1.6
           Vitara RT-S                              1.6
Volkswagen Tiguan 132TSI Pacific 5N                 2.0

                                        manufacturer_marketing_year  \
make       model
Chery      J11                                                  NaN
Ford       Kuga Ambiente TF                                     NaN
           Kuga Trend TF                                        NaN
Great      Wall X200                                            NaN
Holden     Trax Active TJ                                       NaN
           Trax Black TJ                                        NaN
           Trax LS TJ                                           NaN
           Trax LTZ TJ                                          NaN
Hyundai    ix35 SE                                              NaN
           ix35 Trophy                                          NaN
Jeep       Compass Blackhawk                                    NaN
           Compass North                                        NaN
           Compass Sport                                        NaN
           Patriot Sport                                        NaN
           Renegade Sport                                       NaN
Kia        Sportage Si                                          NaN
Mazda      CX-5 Maxx Sport KE Series 2                          NaN
Mitsubishi ASX LS XC                                            NaN
           ASX XB                                               NaN
           Outlander ES ZJ                                      NaN
           Outlander LS ZJ                                      NaN
Nissan     Dualis ST J10 Series 3                               NaN
           Dualis ST J10 Series 4                               NaN
           JUKE ST F15                                          NaN
           JUKE ST F15 Series 2                                 NaN
           JUKE ST-S F15                                        NaN
           JUKE Ti-S F15 Series 2                               NaN
           QASHQAI ST J11                                       NaN
           X-Trail ST T31                                       NaN
           X-Trail ST T32                                       NaN
           X-Trail ST-L T31                                     NaN
Peugeot    2008 Allure                                          NaN
           2008 Outdoor                                         NaN
           4008 Active                                          NaN
SKODA      Yeti 112TSI                                          NaN
Subaru     XV 2.0i G4X                                          NaN
Suzuki     S-Cross GL                                           NaN
           S-Cross GLX                                          NaN
           Vitara RT-S                                          NaN
Volkswagen Tiguan 132TSI Pacific 5N                             NaN

                                        n_cylinders      odometer  \
make       model
Chery      J11                                  4.0  43459.000000
Ford       Kuga Ambiente TF                     4.0  45263.333333
           Kuga Trend TF                        4.0  48035.250000
Great      Wall X200                            4.0  46651.000000
Holden     Trax Active TJ                       4.0  21000.000000
           Trax Black TJ                        4.0  40754.000000
           Trax LS TJ                           4.0  39802.375000
           Trax LTZ TJ                          4.0  36320.600000
Hyundai    ix35 SE                              4.0  57847.000000
           ix35 Trophy                          4.0  59915.000000
Jeep       Compass Blackhawk                    4.0  53141.000000
           Compass North                        4.0  39368.666667
           Compass Sport                        4.0  42743.454545
           Patriot Sport                        4.0  43222.222222
           Renegade Sport                       4.0  38200.000000
Kia        Sportage Si                          4.0  51654.250000
Mazda      CX-5 Maxx Sport KE Series 2          4.0  43000.000000
Mitsubishi ASX LS XC                            4.0  54385.500000
           ASX XB                               4.0  45849.500000
           Outlander ES ZJ                      4.0  28339.000000
           Outlander LS ZJ                      4.0  57629.000000
Nissan     Dualis ST J10 Series 3               4.0  46720.000000
           Dualis ST J10 Series 4               4.0  48509.000000
           JUKE ST F15                          4.0  40862.600000
           JUKE ST F15 Series 2                 4.0  39312.000000
           JUKE ST-S F15                        4.0  56600.000000
           JUKE Ti-S F15 Series 2               4.0  56000.000000
           QASHQAI ST J11                       4.0  38114.000000
           X-Trail ST T31                       4.0  50057.500000
           X-Trail ST T32                       4.0  48900.000000
           X-Trail ST-L T31                     4.0  44500.000000
Peugeot    2008 Allure                          4.0  33900.000000
           2008 Outdoor                         4.0  55084.000000
           4008 Active                          4.0  48642.000000
SKODA      Yeti 112TSI                          4.0  39200.000000
Subaru     XV 2.0i G4X                          4.0  51000.000000
Suzuki     S-Cross GL                           4.0  49328.500000
           S-Cross GLX                          4.0  55162.500000
           Vitara RT-S                          4.0  59600.000000
Volkswagen Tiguan 132TSI Pacific 5N             4.0  42408.000000

                                               price         year
make       model
Chery      J11                           9990.000000  2014.000000
Ford       Kuga Ambiente TF             15829.666667  2013.333333
           Kuga Trend TF                16375.250000  2013.250000
Great      Wall X200                    10990.000000  2013.000000
Holden     Trax Active TJ               15850.000000  2015.000000
           Trax Black TJ                16740.000000  2016.000000
           Trax LS TJ                   15416.125000  2015.125000
           Trax LTZ TJ                  16275.400000  2013.800000
Hyundai    ix35 SE                      16943.500000  2013.500000
           ix35 Trophy                  16000.000000  2014.000000
Jeep       Compass Blackhawk            16495.000000  2014.000000
           Compass North                16993.000000  2013.000000
           Compass Sport                15185.272727  2013.818182
           Patriot Sport                14473.888889  2014.000000
           Renegade Sport               17000.000000  2016.000000
Kia        Sportage Si                  16616.500000  2013.750000
Mazda      CX-5 Maxx Sport KE Series 2  16900.000000  2014.000000
Mitsubishi ASX LS XC                    17050.500000  2016.000000
           ASX XB                       16493.500000  2013.000000
           Outlander ES ZJ              16990.000000  2013.000000
           Outlander LS ZJ              16990.000000  2013.000000
Nissan     Dualis ST J10 Series 3       16331.666667  2013.000000
           Dualis ST J10 Series 4       15844.000000  2013.000000
           JUKE ST F15                  15588.000000  2013.800000
           JUKE ST F15 Series 2         16899.500000  2015.000000
           JUKE ST-S F15                14475.000000  2013.000000
           JUKE Ti-S F15 Series 2       17000.000000  2015.000000
           QASHQAI ST J11               16590.000000  2014.000000
           X-Trail ST T31               14990.000000  2013.000000
           X-Trail ST T32               15999.000000  2015.000000
           X-Trail ST-L T31             17000.000000  2013.000000
Peugeot    2008 Allure                  15632.000000  2014.000000
           2008 Outdoor                 16990.000000  2013.000000
           4008 Active                  13950.000000  2013.000000
SKODA      Yeti 112TSI                  15990.000000  2013.000000
Subaru     XV 2.0i G4X                  16990.000000  2013.000000
Suzuki     S-Cross GL                   14494.500000  2014.500000
           S-Cross GLX                  16439.000000  2014.000000
           Vitara RT-S                  16111.000000  2016.000000
Volkswagen Tiguan 132TSI Pacific 5N     17000.000000  2013.000000